textarea {
  width:100%;
}

#input_box {
  height: 2em;
}

.img_output {
  height: 100px;
  width: 100px;
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}

td {
  padding: 2px 10px;
}

tbody > tr:nth-child(odd) {
  background-color: #d2d2d2;
}

.cell_key, .cell_copy {
  width: 1px;
  white-space: nowrap;
}
